<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
        Unlock actionable insights in every meeting
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
        Empower your team to make informed decisions with the knowledge and insights of your entire organization at their fingertips.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="ear-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                Real-time meeting intelligence
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Seamlessly integrate advanced AI into your meetings to capture insights on the fly and generate comprehensive transcripts afterward.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="server-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                Centralized data repository
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Consolidate your company’s knowledge in a secure, easily accessible location, ensuring everyone has access to the information they need, when they need it.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="construct-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                AI-driven insights from all meeting data
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Continuously enhance your business intelligence with a large-language model trained on your meeting data, delivering precise answers in seconds.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="search-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                Advanced knowledge retrieval
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Instantly retrieve critical information, whether it’s a detail from the last all-hands meeting or a specific file configuration—just ask, and our AI delivers.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="business-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Enterprise-ready
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Designed for large teams, Gigabrain offers robust permissions and controls, making it an ideal solution for enterprise-level operations.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="lock-closed-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Secure as possible
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Gigabrain is fundamentally secure. You control all data and can even deploy on-prem or in a VPC.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
