<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Get automatic intelligence surfaced during every meeting
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
          Be able to answer any question as if your whole company was listening to the call.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="ear-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Listens to your calls
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Invite the gigabrain into your meeting to get live intelligence during, and generate a transcript after
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="server-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Stores all your data in one place
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Gigabrain aggregates your company knowledge in one secure, simple location - so anyone can access it at any time.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="construct-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Trains a unified AI on all meeting data
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Gigabrain is constantly training a large-language-model on your meeting data, so you can ask questions and get fast, accurate answers.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="search-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Superpowered knowledge search
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Forgot what your COO said in the last all-hands? Or want to remember the config for that one file? Just ask, and Gigabrain will deliver.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="business-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Enterprise-ready
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Gigabrain is ready for large teams. Permissions and controls are built into the core of the application.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="lock-closed-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Secure as possible
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Gigabrain is fundamentally secure. You control all data and can even deploy on-prem or in a VPC.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
