<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24"
    >
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
          >
            Make every team smarter
          </p>
          <p class="text-base mt-4 text-gray-500">
            When Gigabrain is listening to a call or a meeting, it surfaces
            the most relevant information live to the end user. No more "I'll have to get back to you on that" 
            during mission-critical external calls.


          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border"
      >
       <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border lg:rounded-3xl object-cover rounded shadow-2xl"
            src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
          />
       </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="cash-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Sales
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          With Gigabrain, even the newest reps can answer techincal questions like a solutions architect.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="headset-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Support
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Support teams can now get answers to any specific question in real time, instead of having to wait or check.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="cog-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Engineering
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Transform engineering with AI-powered meeting insights, instant access to technical decisions, and secure collaboration.
        </p>
      </div>
    </div>
  </div>
</section>
