<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display"
          >
            Frequently asked questions
          </p>
          <p class="text-base mt-4 text-zinc-500">
            Answers to commonly asked questions about Gigabrain.
          </p>
        </div>
      </div>
      <div
        x-data="{
  activeAccordion: '',
  setActiveAccordion(id) {
  this.activeAccordion = (this.activeAccordion == id) ? '' : id
  }
  }"
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-black"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>How does Gigabrain integrate with my existing meeting platforms?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500 -rotate-[45deg]"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              Gigabrain seamlessly integrates with popular meeting platforms like Zoom, Google Meet, and Microsoft Teams. Once connected, it automatically joins your meetings, transcribes the conversation, and provides real-time insights.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >Can Gigabrain capture and understand technical discussions in meetings?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Yes, Gigabrain is designed to handle technical language and complex discussions. By fine-tuning the AI on your specific industry or company data, it can accurately capture and provide insights on specialized topics.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >How do I train Gigabrain’s AI on my company’s unique data?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Training Gigabrain’s AI is straightforward. You can upload relevant documents, past meeting transcripts, and other data sources to our platform. The AI will then learn from this information to better understand and respond to your specific needs.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >What kind of insights can Gigabrain provide during a live meeting?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              LDuring live meetings, Gigabrain can surface relevant documents, past decisions, and key data points that align with the ongoing discussion. It can also answer specific questions related to the meeting content in real-time.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >How does Gigabrain handle data privacy and security?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Gigabrain employs end-to-end encryption to ensure that all your meeting data is secure. Only authorized users can access the information, and you have full control over your data, including the ability to delete it at any time. For extra-sensitive security needs, we can even deploy on-premises or in a VPC for maximum data control.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Can I search past meeting transcripts for specific information?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Absolutely. Gigabrain offers a powerful search feature that allows you to query past meeting transcripts. Whether you’re looking for a specific decision, a technical detail, or a general topic, Gigabrain will retrieve the relevant information quickly.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >How does Gigabrain help with team alignment across departments?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Gigabrain centralizes all meeting data in one secure location, making it accessible to all authorized team members. 
              This ensures that everyone is aligned and has access to the same insights, helping to break down silos across departments.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Is Gigabrain suitable for large enterprises?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Yes, Gigabrain is designed to scale and includes enterprise-grade features such as user management, 
              role-based access control, and on-premise deployment options, making it ideal for large organizations.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
